@media screen and (min-width: 511px) and (max-width: 768px){
    .table__row{
        .table__card{
            grid-template-rows: 10% 90%;
            .table__title{
                text-align: center;
                padding: 12px;
                .title{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .table__descr{
                grid-template-rows: 3fr 4fr 1fr 5fr 2fr;
                padding-right: 12px;
                padding-left: 12px;
                .table__pricebox{
                    .price{
                        font-size: 12px;
                        .nums{
                            font-size: 16px;
                        }
                    }
                }
                .table__depthbox{
                    flex-wrap: nowrap;
                    max-height: none;
                }
                .table__button{
                    padding: 10px;
                }
            }
        }
        .table__card_artesian{
            .table__descr{
                padding-right: 11px;
                padding-left: 11px;
            }
        }
    }
}

@media screen and (max-width: 510px){
    .table__row{
        flex-direction: column;
        .table__card{
            max-width: inherit;
            grid-template-rows: 52px auto;
            .table__descr{
                grid-template-rows: 2fr 3fr 1fr 3fr 2fr;
                .table__depthbox{
                    flex-wrap: wrap;
                    max-height: 90px;
                }
                .table__button{
                    max-width: inherit;
                }
                .table__divisor{
                    max-width: inherit;
                }
            }
            .table__title-mid{
                border: none;
            }
        }
        .table__card_artesian{
            .table__descr{
                border: none;
                .table__depthbox{
                        max-height: 80px;
                }
            }
        }
    }
}  